<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Movie Title</mat-label>
    <input matInput 
           type="text" 
           formControlName="title" 
           placeholder="Enter Your Movie Title Here">
  </mat-form-field>

  <button mat-raised-button 
          class="btn btn-dark" 
          type="submit">
    Search
  </button>

  <mat-expansion-panel (opened)="panelOpenState = true" 
                       (closed)="panelOpenState = false">

    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Search
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-filters-list-input [name]="'Genre'" 
                            [allFilters]="genres" 
                            [(filters)]="genresInput">
    </app-filters-list-input>

    <app-filters-list-input [name]="'Content Rating'" 
                            [allFilters]="contentRatings" 
                            [(filters)]="contentRatingsInput">
    </app-filters-list-input>

    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <input matInput 
             type="text" 
             formControlName="releaseYear" 
             placeholder="Filter by Release Year">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Director</mat-label>
      <input matInput 
             type="text" 
             formControlName="director" 
             placeholder="Filter By Director">
    </mat-form-field>

    <app-filters-list-input [name]="'Writer'" 
                            [allFilters]="writers" 
                            [(filters)]="writersInput">
    </app-filters-list-input>

    <div *ngFor="let rating of ratingsInput; index as i">
      <app-filter-range-input [source]="rating.source"
                              [max]="rating.max" 
                              [step]="rating.step" 
                              [(score)]="ratingsInput[i].score"
                              [(disabled)]="ratingsInput[i].disabled">
      </app-filter-range-input>
    </div>
  </mat-expansion-panel>
</form>

<div *ngFor="let movie of movies | async">
  <app-movie-display-card *ngIf="movie" [movie]="movie"></app-movie-display-card>
</div>
