<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Movie Title</mat-label>
    <input matInput 
           type="text" 
           formControlName="title" 
           placeholder="Enter Your Movie Title Here">
  </mat-form-field>

  <button mat-raised-button 
          class="btn btn-dark" 
          type="button" 
          (click)="logForm()">
    Search
  </button>

  <mat-expansion-panel (opened)="panelOpenState = true" 
                       (closed)="panelOpenState = false">

    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Search
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-filters-list-input [name]="'Genre'" [allFilters]="genres" (inputChange)="genresChange($event)"></app-filters-list-input>

    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <input matInput 
             type="text" 
             formControlName="releaseYear" 
             placeholder="Filter by Release Year">
    </mat-form-field>

    <!-- TODO: implement autocomplete with known directors list -->
    <mat-form-field appearance="fill">
      <mat-label>Director</mat-label>
      <input matInput 
             type="text" 
             formControlName="director" 
             placeholder="Filter By Director">
    </mat-form-field>

    <div formGroupName="contentRatings">
      <mat-checkbox type="checkbox" 
                    formControlName="g" 
                    value="G">
        G
      </mat-checkbox>
      <mat-checkbox type="checkbox" 
                    formControlName="pg" 
                    value="PG">
        PG
      </mat-checkbox>
      <mat-checkbox type="checkbox" 
                    formControlName="pg13" 
                    value="PG-13">
        PG-13
      </mat-checkbox>
      <mat-checkbox type="checkbox" 
                    formControlName="r" 
                    value="R">
        R
      </mat-checkbox>
      <mat-checkbox type="checkbox" 
                    formControlName="nc17" 
                    value="NC-17">
        NC-17
      </mat-checkbox>
    </div>
  </mat-expansion-panel>
</form>

<div *ngFor="let movie of movies | async">
  <app-movie-display *ngIf="movie" [movie]="movie"></app-movie-display>
</div>
