<h1 mat-dialog-title>{{movie.title}}</h1>
<p>{{movie.year}}</p>
<p>{{movie.contentRating}}</p>
<p>{{movie.runtime}}</p>
<mat-dialog-content>
  <img src="{{movie.image}}" alt="{{movie.title}} poster">

  <div *ngFor="let genre of movie.genres">
    <button mat-fab extended>
      {{genre.name}}
    </button>
  </div>

  <p>{{movie.plot}}</p>

  <h3>Director</h3>
  <p>{{movie.director?.name}}</p>

  <h3>Writers</h3>
  <div *ngFor="let writer of movie.writers">
    <p>{{writer.name}}</p>
  </div>

  <h3>Actors</h3>
  <div *ngFor="let actor of movie.actors">
    <p>{{actor.name}}</p>
  </div>

  <h3>Ratings</h3>
  <div *ngFor="let rating of movie.ratings">
    <p>{{rating.source}}: {{rating.score}}</p>
    <div *ngIf="rating.source === 'Internet Movie Database'">
      <p>{{movie.imdbVotes}}</p>
    </div>
  </div>

  <div *ngIf="movie.awards">
    <h3>Awards</h3>
    <p>{{movie.awards}}</p>
  </div>

  <div *ngIf="movie.boxOffice || 
              movie.country || 
              movie.language || 
              movie.production || 
              movie.released">

    <h3>Additional Information</h3>

    <div *ngIf="movie.released">
      <p>{{movie.released}}</p>
    </div>
    <div *ngIf="movie.country">
      <p>{{movie.country}}</p>
    </div>
    <div *ngIf="movie.language">
      <p>{{movie.language}}</p>
    </div>
    
    <div *ngIf="movie.boxOffice">
      <p>{{movie.boxOffice}}</p>
    </div>

    <div *ngIf="movie.production">
      <p>{{movie.production}}</p>
    </div>

  </div>

  <div *ngFor="let trailer of movie.trailers?.trailers">
    <app-movie-trailer-player [videoId]="trailer"></app-movie-trailer-player>
  </div>

</mat-dialog-content>

