<button type="button" class="btn btn-primary" (click)="openModal(template)">Display Movie - Will be card</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">{{movie.title}}(movie title)</h4>
    <button 
      type="button" 
      class="btn-close close pull-right"
      (click)="modalRef?.hide()"
    ></button>
  </div>

  <div class="modal-body">
    <!-- movie.image will require further processing -->
    <img 
      [src]="movie.image" 
      alt="{{movie.title}}Poster"
    />

  </div>

  <div class="modal-footer">
    <button 
      type="button" 
      class="btn btn-secondary" 
      (click)="modalRef?.hide()"
    >Close</button>
  </div>
</ng-template>